@font-face {
  font-family: "cabin";
  src: url("../../node_modules/typeface-cabin/files/cabin-latin-400.woff2")
      format("woff2"),
    url("../../node_modules/typeface-cabin/files/cabin-latin-400.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

.Sidebar {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background: #000;
  width: 35%;
}

.first-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.first-col img {
  width: 120px;
  height: 120px;
}

.second-col {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-left: 1px solid white;
  flex-direction: column;
}

/* breakpoints */
@media screen and (max-width: 600px) {
  .Sidebar {
    display: none;
  }
}