@font-face {
  font-family: "special_elite";
  src: url(/_next/static/fonts/special-elite-latin-400-ea27fa5a8f90a16889404b076a256c9d.woff2)
      format("woff2"),
    url(/_next/static/fonts/special-elite-latin-400-c79ea9b2c4d24dd1aac07967da6ea04a.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "aleo";
  src: url(/_next/static/fonts/aleo-300-954f4988210027530130156dd09e0991.woff2)
      format("woff2"),
    url(/_next/static/fonts/aleo-400-426710ad44b1c0088d4fe48b1f88db0c.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "cabin";
  src: url(/_next/static/fonts/cabin-latin-400-862242471e8a1ea2652c2b0e0b475553.woff2)
      format("woff2"),
    url(/_next/static/fonts/cabin-latin-400-0f3d0cbdd61106c0323169b1541b24f5.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'cabin', Courier, monospace;
}

p {
  letter-spacing: .2rem;
  line-height: 1.5rem;
}
/* 
html, body, .grid-container, #__next , .sidebar-wrapper, .Content {
  height: 100%;
} */

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "Content Content Content Content Content Sidebar Sidebar Sidebar";
}

.Sidebar {
  display: grid;
  grid-template-columns: 0.3fr 1.2fr 2fr;
  grid-template-rows: 0.3fr 2.4fr 0.3fr;
  grid-template-areas: ". . ." "nav first-col second-col" ". . .";
  grid-area: Sidebar;
  height: 100vh;
}

.nav { 
  grid-area: nav;
 }

.first-col { grid-area: first-col; }

.second-col { 
  grid-area: second-col;
  border-left: 2px solid yellowgreen;
 }

.sidebar-wrapper {
   grid-area: Sidebar;
   background-image: url(/_next/static/images/header-05e71b2431fca9ee3f34729d8328f5ae.png);
   background-repeat: no-repeat;
   background-size: cover;
  }

.Content { 
  grid-area: Content; 
  margin: 3rem;
  padding: 1rem 1rem 0 1rem;
  line-height: 2rem;
}

@font-face {
  font-family: "cabin";
  src: url(/_next/static/fonts/cabin-latin-400-862242471e8a1ea2652c2b0e0b475553.woff2)
      format("woff2"),
    url(/_next/static/fonts/cabin-latin-400-0f3d0cbdd61106c0323169b1541b24f5.woff)
      format("woff");
  font-weight: normal;
  font-style: normal;
}

.sidebar-wrapper {
  height: 100vh;
  position: sticky;
  top: 0;
}

.nav {
  width: 85px;
  display: flex;
  padding: 0;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  left: -65px;
  list-style-type: none;
}

.nav li {
  transform: rotate(90deg);
  color: gray;
  text-align: center;
  font-weight: 900;
  font-family: "cabin", Courier, monospace;
}

.nav li a {
  color: gray;
  text-align: center;
  text-decoration: none;
}

.nav li a:hover {
  color: #b80f0b;
  border-bottom: 1px solid #b80f0b;
  background: transparent;
}

.nav li::first-letter {
  color: #b80f0b;
}

.nav li a.active {
  color: #b80f0b;
  border-bottom: 1px solid #b80f0b;
}

.second-col {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: sans-serif;
}

.main-number {
  color: pink;
  font-size: 20rem;
  z-index: 99;
  position: relative;
  left: -10%;
}

.slide-top {
	-webkit-animation: slide-top 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-top 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}


/*# sourceMappingURL=styles.chunk.css.map*/