@font-face {
  font-family: "aleo";
  src: url("../node_modules/typeface-aleo/files/aleo-300.woff2") format("woff2"),
    url("../node_modules/typeface-aleo/files/aleo-400.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "cabin";
  src: url("../node_modules/typeface-cabin/files/cabin-latin-400.woff2")
      format("woff2"),
    url("../node_modules/typeface-cabin/files/cabin-latin-400.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "cabin", Courier, monospace;
}

p {
  letter-spacing: 0.2rem;
  line-height: 1.5rem;
}

.Sidebar {
  display: grid;
  grid-template-columns: 0.3fr 1.2fr 2fr;
  grid-template-rows: 0.3fr 2.4fr 0.3fr;
  grid-template-areas: ". . ." "nav first-col second-col" ". . .";
  grid-area: Sidebar;
  height: 100vh;
}

.nav {
  grid-area: nav;
}

.sidebar-wrapper {
  grid-area: Sidebar;
}

.first-col {
  grid-area: first-col;
}

.second-col {
  grid-area: second-col;
}

.Content {
  grid-area: Content;
}

.translation-link {
  border: none;
  color: rgba(21, 199, 252, 1);
  position: absolute;
  top: 2rem;
  left: 4rem;
  cursor: pointer;
  text-decoration: underline;
  font-size: 0.8rem;
}

.page-title {
  padding-right: .3rem;
  margin-left: -1.2rem;
  z-index: 1;
  margin-top: 2.5rem;
}

.page-title::first-letter {
  color: transparent;
}

@media screen and (max-width: 600px) {
  .Sidebar {
    display: grid;
    grid-template-columns: 0.3fr 1.2fr 2fr;
    grid-template-rows: 0.3fr 2.4fr 0.3fr;
    grid-template-areas: ". . ." "nav second-col" ". . .";
    grid-area: Sidebar;
    height: 100vh;
  }
}

